<div style="margin:auto; text-align: center;">
  <h2>{{t "auth.sign_in" "Sign In"}}</h2>

  {{$flashes := .Flashes}}
  {{if $flashes}}
    <ul>
      {{range $flash := $flashes}}
        <li>{{$flash.Message}}</li>
      {{end}}
    </ul>
  {{end}}

  <div>
    <div>
      {{range $provider := .GetProviders}}
        <div>{{t "auth.form.login_with" "Login With 2"}} {{$provider.GetName}}</div>
        {{render (printf "auth/login/providers/%v" $provider.GetName)}}
      {{end}}
    </div>
  </div>

  {{if .Registrable}}
  <div>
    <a href="{{.AuthURL "register"}}">>{{t "auth.sign_up" "Sign Up"}}</a>
  </div>
  {{end}}
</div>
