<div style="margin:auto; text-align: center;">
  <h2>{{t "auth.my_profile" "My Profile"}}</h2>

  {{$flashes := .Flashes}}
  {{if $flashes}}
    <ul>
      {{range $flash := $flashes}}
        <li>{{$flash.Message}}</li>
      {{end}}
    </ul>
  {{end}}

  <div>
    PERFIL!!!
  </div>
</div>
