<form action="{{(get "Context").AuthURL "password/login"}}" method="POST">
  {{t (.I18n "login") "Login"}}:    <input name="login">
  {{t (.I18n "password") "Password"}}: <input name="password" type="password">
  <input type="submit">
</form>

<div>
  <a href="{{(get "Context").AuthURL "password/new"}}">{{t ((get "Auth").I18n "links.forgot_password") "forgot password?"}}</a>
</div>
