<link rel="stylesheet" media="all" href="{{static_url "/auth/styles/qor_auth.css"}}" />
<div style="margin:auto; text-align: center;">
  <div class="container qor-auth">
    <div class="qor-auth-box">
      <h1>{{t (.I18n "passwords.reset_password")}}</h1>

      {{$flashes := .Flashes}}
      {{if $flashes}}
        <ul>
          {{range $flash := $flashes}}
            <li>{{$flash.Message}}</li>
          {{end}}
        </ul>
      {{end}}

      <div>
        <form action="{{.AuthPath "password/update"}}" method="POST">
          <input type="hidden" name="reset_password_token" value="{{reset_password_token}}">
          <ul class="auth-form">
            <li>
              <label for="new_password" style="text-align: left">{{t (.Auth.I18n "form.new_password") }}:</label>
              <input name="new_password" id="new_password" type="password" placeholder="{{t (.Auth.I18n "form.new_password_placeholder") }}">
            </li>
            <li>
              <label for="password_confirm" style="text-align: left">{{t (.Auth.I18n "form.password_confirm") }}:</label>
              <input name="password_confirm" id="password_confirm" type="password" placeholder="{{t (.Auth.I18n "form.password_confirm_placeholder") }}">
            </li>
            <li>
              <button type="submit" class="button button__primary">{{t (.Auth.I18n "form.new_password_submit")}}</button>
            </li>
          </ul>
        </form>
      </div>

      <div>
        <a href="{{.AuthURL "login"}}">{{t (.Auth.I18n "or_sign_in")}}</a>
      </div>
    </div>
  </div>
</div>